.preview {
    position: relative;
}

.preview__close {
    position: absolute;
    top: 0;
    margin: 5px;
    font-size: 18px ;
    color: white;
    cursor: pointer;

}

.preview__publishIcon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}